@import "include/env";
@import "include/post";
@import "include/syntax";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

html {
  scroll-padding-top: 25px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $color-light-1;
}

blockquote {
  position: relative;
  font-style: italic;
  margin: 25px $padding-big;

  p {
    font-weight: bold;
  }

  &:before {
    content: "\201C";
    position: absolute;
    top: 0.25em;
    left: -$padding-big;
    color: darken($color-light-1, 8%);
    font-size: 10em;
    z-index: -1;
  }
}

.internal-links {
  a,
  a:visited {
    color: $color-link-internal;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
    color: $color-link-external;
  }
}

a,
a:visited {
  text-decoration: none;
  color: $color-link-external;
}

a:hover {
  color: $color-link-internal;
}

body > header {
  height: $size-header-height;
  line-height: $size-header-height;
  margin-right: $size-aside-width;
  z-index: 100;

  background: $color-light-1;
  font-size: 30px;

  > .left {
    float: left;
    margin-left: 50px;
    font-size: 0.5em;

    text-transform: uppercase;
  }

  > .right {
    display: none;
    float: right;
  }

  a,
  a:visited {
    color: $color-dark-primary;
    text-decoration: none;
  }

  a:hover {
    color: $color-link-internal;
  }
}

aside {
  position: fixed;
  width: $size-aside-width;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 50px 0;
  z-index: 100;

  background: $color-side-background;
  color: $color-light-1;

  a,
  a:visited {
    color: $color-light-1;
    text-decoration: none;
  }

  a:hover {
    color: $color-light-1;
  }
}

aside > section.about {
  margin-bottom: 25px;

  > a > h1,
  > a > h2 {
    margin: 0;
    padding: 0;
    text-align: center;

    font-weight: normal;
  }

  > a > img {
    display: block;
    margin: 0 auto 25px auto;
    width: 150px;

    border: 2px $color-light-1 solid;
    border-radius: 100%;
  }

  > a > h1 {
    font-size: 2em;
  }

  > a > h2 {
    color: $color-light-2;
    font-size: 1em;
  }
}

aside > nav {
  > ul {
    margin: $padding-medium 0;
    padding: 0;

    text-align: center;

    > li {
      display: block;
      margin: 5px 0;

      > a {
        display: block;
        font-size: 1.5em;

        transition: color 100ms ease;
      }

      > a,
      a:visited {
        color: $color-light-3;
      }

      > a.active,
      a:hover {
        color: $color-light-1;
      }
    }
  }
}

aside > ul.social-links {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 2em;
  text-align: center;

  > li {
    display: inline-block;

    > a,
    > a:visited {
      padding: 0 5px;
      color: $color-light-2;
      transition: color 100ms ease;
    }

    > a:hover {
      color: $color-light-1;
    }
  }
}

aside > .tag-cloud {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;

  > ul {
    margin: 0 50px;
    padding: 0;

    > li {
      display: inline-block;
      margin: 0 5px;

      > a {
        color: $color-light-2;
        transition: color 100ms ease;

        &:hover {
          color: $color-light-1;
        }
      }
    }
  }
}

main {
  header {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 2em;

    > a,
    a:visited {
      color: $color-dark-primary;
      text-decoration: none;
    }

    > a:hover {
      color: $color-link-internal;
    }
  }
}

main,
footer {
  margin-right: $size-aside-width;
  padding: 0 $padding-big;
  color: $color-text;
}

footer {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 0.7em;
  color: $color-light-3;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > .left {
    float: left;
  }

  > .right {
    float: right;
    text-align: right;
  }
}

@media screen and (max-width: 800px) {
  html {
    scroll-padding-top: calc(#{$size-header-height} + 20px);
  }

  body > header {
    display: initial;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0;
    padding: 0 $padding-small;

    background: $color-side-background;
    background-position: bottom;

    a,
    a:visited {
      color: $color-light-1;
      text-decoration: none;
    }

    a:hover {
      color: $color-light-1;
    }

    > .left {
      margin-left: 0;
    }

    > .right {
      display: initial;
    }
  }

  aside {
    width: 100%;
    margin-bottom: $size-header-height;
    margin-right: -100%;
    transition: margin-right ease 0.2s;

    &.visible {
      margin-right: 0;
    }
  }

  aside > section.about {
    > a > img {
      display: none;
    }
  }

  aside > nav {
    > ul {
      > li {
        display: block;

        > a {
          display: block;
          font-size: 2em;
        }
      }
    }
  }

  main,
  footer {
    margin-bottom: calc(#{$size-header-height} + 20px);
    margin-right: 0px;
    padding: 0 $padding-small;
  }

  main {
    margin-bottom: calc(#{$size-header-height} + 20px);

    header {
      font-size: 1.6em;
    }
  }

  footer {
    > .left,
    > .right {
      float: none;
      display: block;
      text-align: center;
    }
  }
}
