$color-light-1: #fafafa;
$color-light-2: #BDBDBD;
$color-light-3: #757575;
$color-dark-primary: #191970;
$color-text: #212121;
$color-link-internal: #EF6C00;
$color-link-external: #1E88E5;
$color-code: #673AB7;
$color-side-background: #622348;

$size-aside-width: 350px;
$size-header-height: 50px;

$padding-small: 10px;
$padding-medium: 25px;
$padding-big: 50px;
