.blog-post > .post-meta {
  > span.date {
    margin-right: 50px;
    //text-transform: uppercase;
    color: $color-light-3;
  }

  > span.comment-count {
      margin-right: 50px;
      font-size: 0.8em;
      > a, a:visited {
          color: green;
          text-decoration: none;
      }
      > a:hover {
          color: red;
          text-decoration: none;
      }
  }

  > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 0.8em;

    > li {
      display: inline-block;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-left: 10px;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }

      a,
      a:visited {
          color: $color-link-internal;
          text-decoration: none;
      }

      a:hover {
          color: $color-link-external;
      }
    }
  }
}

.blog-post .read-more {
  border-top: 1px $color-light-2 solid;
  font-size: 0.8em;

  > a {
    display: block;
    padding: 10px 0;
  }
}

.blog-post .post-content {
  font-size: 1em;
  line-height: 150%;

  h1,
  h2,
  h3,
  h4 {
    position: relative;
    margin-top: 30px;
  }

  h1 {
    font-size: 1.7em;
    a {
      color: #212121;
    }
  }

  h2 {
    font-size: 1.4em;
    a {
      color: #424242;
    }
  }

  h3 {
    font-size: 1.1em;
    a {
      color: #616161;
    }
  }
}

.blog-post .additional-info {
  margin-top: $padding-big;
  padding: $padding-medium $padding-big;
  border-top: 1px $color-light-2 solid;

  text-align: center;
  color: $color-light-3;
  font-size: .9em;
}

.blog-post.full {
  figure {
    font-size: .8em;
  }

  .header-section-number {
    color: $color-light-2;
    font-family: "Merriweather", serif;
  }

  .toc {
    float: right;
    margin: 0 0 25px 25px;

    font-size: .9em;

    .toc-section-number {
      width: 20px;
      display: inline-block;
      margin-right: 5px;
      text-align: right;
      font-family: "Merriweather", serif;

      color: $color-light-2;
    }

    > .header {
      margin-bottom: 10px;
      padding-left: 10px;
      font-weight: bold;
      font-size: 1.2em;
    }

    ul {
      list-style: none;
    }

    > ul {
      margin: 0;
      padding: 0;
    }

    li > ul {
      padding-left: 25px;
    }
  }

  .post-content {
    h1,
    h2,
    h3,
    h4 {
      a:before {
        display: inline-block;
        position: absolute;
        left: -30px;

        color: $color-link-internal;
        opacity: 0;

        transition: opacity 100ms ease;

        font-family: "FontAwesome";
        content: "\f0c1";
      }

      a:hover:before {
        opacity: 1;
      }
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;

    th, td {
      padding: 5px;
      border: 1px solid $color-light-2;
    }

    th {
       color: $color-dark-primary;
    }
  }
}

.blog-post.teaser .toc {
  display: none;
}

.blog-post.full {
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .blog-post.full .toc {
    display: block;
    float: none;
    margin: 25px 0 25px 0;
  }

  .blog-post .post-content {
    font-size: 0.9em;
    line-height: 150%;

    h1,
    h2,
    h3,
    h4 {
      a:before {
        display: none;
      }
    }
  }
}
