<article class="blog-post teaser">
    <header><a href="$url$">$title$</a></header>
    <div class="post-meta">
        <span class="date">$date$</span>
        <span class="comment-count">
            <a href="$url$#disqus_thread" data-disqus-identifier="$pageId$"></a>
        </span>
        $tags$
    </div>
    <div class="post-content">$body$</div>
    <div class="read-more internal-links">
        <a href="$url$">계속 읽기 <i class="fas fa-play"></i></a>
    </div>
</article>
