<article class="blog-post full">
    <header><a href="$url$">$title$</a></header>
    <div class="post-meta">
        <span class="date">$date$</span>
        <span class="comment-count">
            <a href="#disqus_thread" data-disqus-identifier="$pageId$"></a>
        </span>
        $tags$
    </div>
    <div class="post-content">$body$</div>
</article>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "$full-url$";
        this.page.identifier = '$pageId$';
    };

    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://esrevinu-space.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
